@charset "UTF-8";

$cPrimary: #2e5180;
$cDarkgray: #333;
$cMidlegray: #707f89;
$cGray: #cdd6dd;
$cLightgray: #eef4f8;
$cWhite: #fff;
// $c: #;

/* header --------------------- */
/* header */
// header {

// }
/* section-001 -------------------- */
/* section-002 -------------------- */
/* section-003 -------------------- */
/* section-004 -------------------- */
/* section-005 -------------------- */
/* footer ------------------------- */
// footer {

// }